***REMOVED*** Virtual Environments
.venv/
env/
venv/
ENV/

***REMOVED*** Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.build/
dist/
*.egg-info/
.eggs/
.python-version
.pytest_cache/
.coverage
htmlcov/
coverage.xml

***REMOVED*** Logs
*.log
ebook_summarizer.log

***REMOVED*** Env Vars
.env.local
.env.*.local

***REMOVED*** IDEs
.idea/
.vscode/
*.swp
*.swo

***REMOVED*** Project Specific
.DS_Store
reference/
**/reference/
references/
**/references/

***REMOVED*** Next.js
.next/
**/.next/
**/out/
.vercel/
next-error.log
apps/web-nextjs/.turbo
.turbo/

***REMOVED*** Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*